<span *ngIf = "!isEdit" > Name: {{user.name}}, Email: {{user.email}} </span> 
<span *ngIf = "isEdit">
    Name: <input type = "text" [(ngModel)] = "user.name">
    Email: <input type = "text" [(ngModel)] = "user.email">
</span>
<button (click) = "toggleEdit()" >{{editButtonText}}</button>
<button (click) = "sendDelete()" >Delete</button>